@model OnlineCommercialAutomation.Models.Classes.SalesMovement
@{
    ViewBag.Title = "DoSales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Satış Yap</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.ProductId)
    <input type="text" name="ProductId" value="@ViewBag.value2" class="form-control" readonly />
    <br />
    @Html.LabelFor(x => x.EmployeeId)
    @Html.DropDownListFor(x => x.EmployeeId, (List<SelectListItem>)ViewBag.value1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CustomerId)
    @Html.TextBoxFor(x => x.CustomerId, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Quantity)
    <input type="number" class="form-control" min="0" placeholder="adet giriniz" id="txt1" onchange="sum();" name="Quantity"/>
    <br />
    @Html.LabelFor(x => x.Price)
    <input type="text" name="Price" value="@ViewBag.value3" class="form-control" id="txt2" onkeyup="sum();" />
    <br />
    @Html.LabelFor(x => x.TotalAmount)
    <input type="text" name="TotalAmount" value="0" class="form-control" id="txt3" readonly />
    @*@@Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })*@
    <br />
    <button class="btn btn-info">Satış Yap</button>
</form>
<br />
<script>
    function sum() {
        var number1 = document.getElementById('txt1').value;
        var number2 = document.getElementById('txt2').value;
        var result = parseInt(number1) * parseInt(number2);
        if (!isNaN(result)) {
            document.getElementById('txt3').value = result
        }
    }
</script>
