@model OnlineCommercialAutomation.Models.Classes.Invoice
@{
    ViewBag.Title = "InvoiceAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Fatura Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("Fatura Seri Numarası")
    @Html.TextBoxFor(x => x.InvoiceNumber, new { @class = "form-control" })
    <br />
    @Html.Label("Fatura Sıra Numarası")
    @Html.TextBoxFor(x => x.InvoiceSerialNumber, new { @class = "form-control" })
    <br />
    @Html.Label("Fatura Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.Label("Fatura Saat")
    @Html.TextBoxFor(x => x.Time, new { @class = "form-control" })
    <br />
    @Html.Label("Vergi Dairesi")
    @Html.TextBoxFor(x => x.TaxAdministration, new { @class = "form-control" })
    <br />
    @Html.Label("Fatura Teslim Eden")
    @Html.TextBoxFor(x => x.Submitter, new { @class = "form-control" })
    <br />
    @Html.Label("Fatura Teslim Alan")
    @Html.TextBoxFor(x => x.Receiver, new { @class = "form-control" })
    <br />


    <button class="btn btn-info">Kaydet</button>
</form>
